body {
    font-size: 17px;
    line-height: 1.6;
}
.wrapper-1 {
    display: flex;
    flex-flow: row wrap;
}

img {
    width: 15em;
    height: 30em;
}

.quote {
    font-size: 5em;
    padding-left: 30px;
}

h1 {
    margin-left: 30px;
}
#mtv {
    width: 80%;
    height: 80%;
}
#mot {
    text-align: right;
}