body {
    background-color: #E0D1A5;
    color: #413326;
}
.flex-container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-container-1 div {
    font-size: 1.5em;
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.title {
    /* border: 10px solid red; */
}
.subtitle {
    /* border: 10px solid blue; */
    font-size: 3em;
    margin-top: 40px;
}

h1 {
    font-size: 22em;
    line-height: 20px;
    margin-left: 500px;
}
h2 {
    font-size: 12em;
    line-height: 5px;
    margin-left: 200px;
}
h3 {
    font-size: 7em;
    line-height: 2px;
    margin-left: 80px;
}
h4 {
    font-size: 4em;
    line-height: 2px;
    margin-top: 42px;
    margin-left: 20px;
}
.guide {
    font-size: 1.5em;
    margin-top: -30px;
    text-align: center;
}


/* This is the css for page2 */
.flex-container2-2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.title2-1 {
    font-size: 3em;
}
.paragraph {
    font-size: 2em;
    margin-top: 15px;
}
.guide2 {
    font-size: 1.5em;
    margin-top: 120px;
    text-align: center;
}

/* This is the css for page3 */
.title3-1 {
    font-size: 5em;
}

.flex-container-3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 500px;
}
.flex-container-3 div{
    font-size: 3em;
    padding: 10px;
    margin: 20px;
}
.guide3 {
    font-size: 0.5em;
    margin-top: -30px;
    transform: rotate(90deg);
    font-size: 1.5em;
}

/* This is the code for page4 */
.img {
    width: 20%;
}

/* This is the code for page5  */
.grid-container {
    display: grid;
    grid-template-areas: repeat(4, auto)/ repeat(8, auto) 700px;
    /* background-color: pink; */
    padding: 80px;
    height: 500px;
    margin-top: -50px;
}
.grid-container div {
    /* background-color: white; */
    font-size: 2em;
    width: 100px;
    margin: 10px;
    /* border: red 10px solid; */
    margin-top: 10px;
}

.item-1 {
    grid-area: 1/1/2/2;
}
.item-2 {
    grid-area: 1/2/2/3;
}
.item-3 {
    grid-area: 1/3/2/4;
}
.guide5 {
    line-height: 100px;
    margin-bottom: 80px;
}

.flex-container-5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -80px;
    margin-right: 20px;
    margin-left: 20px;
}