body {
  font-size: 17px;
  line-height: 1.6;
}

 #container {
  width: 100%;
  height:100%;
  background-color: aqua;
  position: relative;
}
#cover {
  width: 100%;
  height: 0%;
  background-color: rgba(255, 0, 0, 0.68);
  position: absolute;
  transform: translate(0,-100%);
  top: 100%;
  transition: 5s linear;
}
#clickme {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: black;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
  z-index: 999;
}
article img {
  width: 100%;
  height: auto;
}
#boom {
  position: absolute;
  opacity: 0%;
  z-index: 998;
  transition: 3s;
}
h1 {
  margin-left: 30px;
}

