body {
    font-size: 16px;
    line-height: 1.6;
}
h1 {
    font-size: 3em;
    margin-left: 10px;
}
h2 {
    margin-bottom: 15em;
}

p {
    font-size: 1.5em;
}
.vertical-line {
  border-left: 5px solid black; 
  height: 100px;            
  margin: 1em;
}
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}