h1 {
    font-size: 25em;
    line-height: 20px
}
h2 {
    font-size: 13em;
    line-height: 5px
}
h3 {
    font-size: 8em;
    line-height: 2px
}
h4 {
    font-size: 5em;
    line-height: 2px;
    margin-top: 42px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

/* .title {
    border: 20px solid red;
} */
.subtitle {
    /* border: 20px solid blue; */
    font-size: 3em;
}

.container2 {
    display: flex;
    flex-direction: column
}
.description {
    /* border: 10px solid green; */
    font-size: 5em;
    line-height: default;
}
.paragraph {
    /* border: 10px solid orange; */
    font-size: 2em;
}



.grid-container {
    display: grid;
    grid-template: repeat(7, auto)/ repeat(7, auto);
    font-size: 3em;
    padding: 10px;
}

.grid-container div {
    padding: 60px;
    text-align: center;
}


.item-1 {
    grid-column: 4/ 5;
    grid-row: 1/2;
}
.item-2 {
    grid-column: 5/6;
    grid-row: 2/3;
}
.item-3 {
    grid-column: 6/7;
    grid-row: 3/4
}
.item-4 {
    grid-column: 7/8;
    grid-row: 4/5
}
.item-5 {
    grid-column: 6/7;
    grid-row: 5/6
}
.item-6 {
    grid-column: 5/6;
    grid-row: 6/7
}
.item-7 {
    grid-column: 4/5;
    grid-row: 7/8
}
.item-8 {
    grid-column: 3/4;
    grid-row: 6/7
}
.item-9 {
    grid-column: 2/3;
    grid-row: 5/6
}
.item-10 {
    grid-column: 1/2;
    grid-row: 4/5
}
.item-11 {
    grid-column: 2/3;
    grid-row: 3/4
}
.item-12 {
    grid-column: 3/4;
    grid-row: 2/3
}

.center {
    grid-area: 4/4/5/5;
}

