body {
    font-family: "Quicksand";
    color: rgb(218, 220, 220);
    padding: 50px;
    background-image: linear-gradient(to bottom, #0400FF, green);
    line-height: 1.6;
}

h1 {
    text-align: left;
    font-size: 90px;
}
h2 {
    font-size: 30px;
    margin-top: -50px;
}
img {
    width: 600px;
}
.float {
    line-height: 1;
}
.Habit {
    font-size: 60px;
    margin-top: 120px;
    margin-bottom: 5px;
    color: #7EFF5E;
}
.Random {
    font-size: 120px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 50px;
    color: red
}
.Class {
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: yellow;
}
.Routine {
    font-size: 90px;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 10px;
    color: rgb(47, 109, 252);
}
.Distinguish {
    margin-top: 50px;
}
/* 
a:link {
  color: rgb(49, 254, 4);
}

a:visited {
  color: rgb(129, 41, 181);
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
} */