body {
    font-family: "Quicksand";
    padding: 50px;
    background-image: linear-gradient(to bottom, #0400FF, green);
}



h1 {
    margin-left: 50px;
    text-align: left;
    font-size: 90px;
    color: rgb(255, 255, 255)
}
h2 {
    margin-left: 50px;
    text-align: left;
    color: white;
}
img {
    width: 600px;
}
p {
    color: white;
}


.flex-container {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
    }

.Habit {
    font-size: 60px;
    margin-top: 120px;
    margin-bottom: 5px;
    color: #7EFF5E;
}
.Random {
    font-size: 120px;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 50px;
    color: red
}
.Class {
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: yellow;
}
.Routine {
    font-size: 90px;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 10px;
    color: rgb(47, 109, 252);
}


.Distinguish {
    margin-top: 150px;
    color: white;
}

.Solution {
    text-align: left;
    margin-left: 700px;
    color: white;
}


a:link {
  color: rgb(49, 254, 4);
}

a:visited {
  color: rgb(129, 41, 181);
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}