/* This is the code for page 1 */
h1 {
    font-size: 7em;
    line-height: 180px;
    margin-top: 0px;
    margin-bottom: 20px;
}
h3 {
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 20px;
}


.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.wrapper-1 {
    /* border: 10px red solid; */
    text-align: left;
    font-size: 1.7em;
}
    .paragraph1-1 {
        margin-top: 20px;
        margin-bottom: 200px;
}
    .paragraph1-2 {
        margin-top: 200px;
    }

.wrapper-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 10px green solid; */
    font-size: 1.7em;
    padding-right: 20px;
}
   .wrapper-2 div {
        margin: 40.5px;
        text-align: left;
        margin-right: 5px;
   }