article {
  width: 46%;
  padding: 2%;
  float: left;
}
#menubox {
  width: 100%;
  height: 43px;
  background-color: dimgray;
}
@media (max-width: 600px) {
  article {
    width: 96%;
    float: none;
  }
}