@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding: 0;
}
#mm {
	display:none;
}
#nn a {
	text-decoration:none;
	color: white;
	font-family: "微軟正黑體", "Adobe 繁黑體 Std B", Arial;
}
#nn ul {
	width:480px;
	margin: 0 auto;
	padding: 0;
	text-align:center;
}
#nn ul>li{  /*僅主選單的li*/
	width:120px;
	height: auto;
	padding: 10px 0;
	list-style:none;
	float: left;
	background-color: dimgray;
}
#nn ul>li:hover {
	background-color:black;
}

#nn ol{
	margin:10px 0 0 0;
	padding:0;
	display: none;
}
#nn ol li{  /*僅次選單的li*/
	list-style: none;
	padding:10px;
}

@media (max-width:800px){
	#nn {
		display:none;
	}
	#mm {
		width:auto;
		height: auto;
		padding:10px;
		display:block;
		background-color:dimgray;
		color:white;
		font-family: "微軟正黑體", "Adobe 繁黑體 Std B", Arial;
		font-size:20px;
		text-align:center;
	}
	#nn ul {
		width:100%;
	}
	#nn ul>li{ /*僅主選單的li*/
		width:100%;
		float:none;
	}
	#nn ol li{  /*僅次選單的li*/
	padding:10px 0;
    }
}
